.login_title {
    background-color: green;
}


.switchLink {
    cursor: pointer;
}


/* 
Kept for notes
.login{
    margin: 1rem auto;
    max-width: 1000px;
    padding: 1rem;
    }
    
    .show {
    display: block;
    } */
    
    /*unlike visibility:hidden which would still 
    stake up the space, this removes the modal*/
    /* .hide {
    display: none;
    }
    
    .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000003a;
    transition: opacity 0.2s ease;
    }
    
    .modal {
    width: 400px;
    max-width: 100%;
    height: 350px;
    max-height: 100%;
    position: relative;
    margin: -830px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    transform: translateY(100%);
    transition: transform 0.2s ease;
    box-shadow: 0 2px 8px 3px;
    font-family: Helvetica, Arial, sans-serif;
    }
    
    .modal #close {
    color: green;
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #0000003a;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.562);
    }

    .login_form{
        display: flex;
        flex-direction: column;
    }

    .login_form h1{
        text-align: center;
        margin-bottom: 35px;
    }

    .login_form input{
        display: block;
        margin-left: 25px;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 3px;
        width: 80%;
        border: 1px solid green;
    }

    .login_button {
        margin-left: 25px;
        background-color: #4CAF50;
        transition-duration: 0.4s;
        padding: 14px 150px;
      }
      
      .login_button:hover {
        cursor: pointer;
        color: #4CAF50; 
        background-color: white;
      }

      .login_demo {
          text-align: center;
          margin-top: 20px;
          margin-bottom: 10px;
      }

      .login_demo_pointer{
        cursor: pointer;
        color: rgb(76, 76, 204);
      }

      .login_switch {
          margin-left: 25px;
          margin-top: 18px;
      }

      .signup_link {
          font-size: 15px;
          cursor: pointer;
          background: none;
          border:none;
          color:rgb(76, 76, 204);
      } */