/*parent position is relative so heart for example has absolute, so it will be 
absolute to this parent component, so it would __px from the top of the component,
and stick to the dimensions of the container*/
.bookingResults {
    display: flex;
    position: relative;
    /* padding: 10px;
    padding-right:40px;
    margin:10px; */
    margin-left:10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
    width:980px;
    margin-bottom:10px;
  }

/*opacity of image*/
.bookingResult:hover {
    opacity: .9;
}


.booking_img{
    margin-bottom: 10px;
    padding-bottom:50px;
}

.bookingResult_info {
    display:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 20px; */
    width:1030px;
    margin-left:-60px;
}



.bookingResult_infoTop {
    position:relative;
    width: 40vw;
    width:500px;
    /*this was commented out before*/
    margin-top:0px;
    /* margin-bottom:20px; */
}

.bookingResult_infoTop > h3 {
    font-weight: bold;
    position:absolute;
    /* margin-top:25px; */
}

.bookingResult_infoTop > p {
    /* margin-top: 41px; */
    margin-top:20px;
    font-size: 13px;
    font-weight:bolder;
    color: gray;
    text-align:justify;
    /* margin-bottom:20px; */
    margin-bottom: 30px;
  }

  .bookinghResult_date{
      position: relative;
      padding-top:190px;
  }
  
.bookingResult_infoBottom {
    /* margin-bottom:-50px; */
    margin-top:20px;
    display: flex;
    /* position:relative; */
    justify-content: space-between;
}

.bookingResults_price > p {
    position:absolute;
    text-align: right;
    right:20px;
    
  }

.bookingResults_price {
    /* position: absolute; */
    /* bottom: 20px;
    right: 30px; */
    right:95px;
    font-size: 18px;
    /* white-space:nowrap; */
    overflow:auto;
    margin-top: -40px;
}

.booking_button {
    position: absolute;
    top: 20px;
    left: 550px;
    height: 60px;
    width: 150px;
}