.header {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index:100;
    width:100%;
}

.header_icon{
    object-fit: contain;
    height:100px;
    margin-left:35px;
}

.header_center{
    display: flex;
    /* allows the input box to take up middle space */
    flex:1;
    align-items:center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border-radius: 999px;
    border: 1px solid lightgray;
    margin-left:70px;
}

/* this takes the border off of the original input that comes with the text box
input is a child of .header_center div */
.header_center > input {
    border:none;
    padding: 10px;
    /* gets rid of the ugly blue outline */
    outline-width: 0;
    width:150px;
}

.header_right {
    display: flex;
    align-items:center;
    justify-content:center;
    width: 15vw;
    
}

.header_expand {
    cursor: pointer;
}

.header_dropdown {
    border-radius:4px;
    border-width:2px;
    background-color: white;
    width:100px;
    height:100px;
    display: block;
    position: absolute;
    margin-top:160px;
    border-style:groove;
}

.hide {
    display: none;
}

.header_dropdown > ul > li{
    
    margin-top:-5px;
    list-style-type: none;
    margin-left:-20px;
    margin-bottom:10px;
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
}

.header_dropdown > ul > li:hover{
    color: green;
}