/*parent position is relative so heart for example has absolute, so it will be 
absolute to this parent component, so it would __px from the top of the component,
and stick to the dimensions of the container*/
.searchResult {
    display: flex;
    position: relative;
    /* padding: 10px;
    padding-right:40px;
    margin:10px; */
    margin-left:10px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    width:910px;
  }

.searchResult:hover {
    opacity: 0.8;
}

.searchResult > img {

    height: 240px;
    width: 300px;
    border-radius: 10px;
    margin-left: 12px;
    margin-bottom:20px;
    margin-top:20px;
}

.searchResult_info {
    display:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    width:930px;
}

.searchResults_heart {
    position: absolute;
    top: 20px;
    right: 20px;
}

.searchResult_infoTop {
    position:relative;
    width: 40vw;
    width:500px;
    /* margin-top:-60px; */
}

.searchResult_infoTop > h3 {
    font-weight: 300;
    position:absolute;
    /* margin-top:25px; */
}

.searchResult_infoTop > p {
    /* margin-top: 41px; */
    margin-top:35px;
    font-size: 13px;
    font-weight:500;
    color: gray;
    text-align:justify;
  }
  
.searchResult_infoBottom {
    /* margin-bottom:-50px; */
    margin-top:50px;
    display: flex;
    /* position:relative; */
    justify-content: space-between;
}


.searchResult_star {
    color: red;
    overflow: auto;
}


.searchResult_stars {
    display: flex;
    align-items: center;
    font-size: 18px;
    bottom:30px;

}

.searchResults_price > p {
    position:absolute;
    text-align: right;
    right:20px;
  }

.searchResults_price {
    /* position: absolute; */
    /* bottom: 20px;
    right: 30px; */
    right:95px;
    font-size: 18px;
    /* white-space:nowrap; */
    overflow:auto;
}